.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}
#first {
    color:red;
}
#login{
    color: black;
}
#logo{
    background-color: red;
    color:white;
}
.dropdown_content{
    display:none;
    position:absolute;
    text-align: left;
    width:100%;
    
}
.dropdown_content a{
    display: inline;
    color: black;
    font-size: 11px;
    padding: 5px 10px;
}
.dropdown:hover .dropdown_content {
    display:block
}
.dropbtn:hover {
    color: red;
}
.upper_menu li{
    list-style: none;
    font-size: 10px;
    display:inline-flex;
    padding: 5px 10px;
}

.information li{
    list-style: none;
    font-size: 10px;
    display:inline-flex;
    padding: 5px 3px;
    font-weight: bold;

}
.menu{
    display:flex;
    align-items: center;
}

.menu li{
    list-style: none;
    display: inline-flex;
    font-weight: bold;
    padding: 15px 15px;
}
.menu a{
    color: black;
}